.mask-close{
	background-color: $main_frame;
	cursor: pointer;
	width: $square_small;
	height: $square_small;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	// padding: 24px;
	 padding: 18px 18px;
	display: inline-block;
	div{
		position: absolute;
		width: $square_small/3; 
		border-top:3px solid #111;
		top: calc(50% - 2px);
		right: calc(50% - 12px);
		margin-left: -10px;
	}
	img{
		margin-top: 7px; 
		width: 70%;
		height: 70% !important;
	}
}

.mask-close--top{
	transform: rotate(-45deg);
}

.mask-close--bottom{
	transform: rotate(45deg);
}